<body>
  <form action="/api/sessions/recovery-password" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Email" required />
    <label for="password">New password:</label>
    <input type="password" name="password" placeholder="New password" required />
    <button type="submit">Submit</button>
  </form>
</body>